<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>A Mind Unravelled</title>
    <link href="https://fonts.googleapis.com/css?family=Gotu|Montserrat:400,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <section id="nav-bar" class="sticky-top">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand brand-text" href="#title">A Mind Unravelled</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#title">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about-ash">Meet Ashley</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about-mind">About A.M.U.</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#featured">Featured</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#feat-guest">Guest</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Social
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="https://www.instagram.com/a_sabeeds/?hl=en"><img src="icons/instagram.svg" class="icons" alt="insta-icon">@a_sabeeds</a>
                <a class="dropdown-item" href="#"><img src="icons/twitter.svg" class="icons" alt="insta-icon">Twitter</a>
                <a class="dropdown-item" href="#"><img src="icons/linkedin.svg" class="icons" alt="insta-icon">LinkedIn</a>
              </div>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-light my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </section>
