<%- include("partials/header") %>
<div class="container">
  <div class="header">
    <h1>Hi, Ashley</h1>
    <h2>What would you like to do?</h2>
  </div>
  <div class="">
    <a class="btn btn-primary btn-lg" href="/compose" role="button">Create/Edit a Post</a>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
  </div>
</div>
