<%- include("partials/header"); %>



<div class="container">
  <h3 class="form-header" >Video Blog Post</h3>

  <form class="" action="/videoSubmitForm" method="post">
    <div class="form-group">
      <label class="form-label" for="videoEmbed">Video Embed Code</label>
      <input name="videoEmbed" type="text" class="form-control" id="videoEmbed" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
      <label class="form-label" for="videoTitle">Video Title</label>
      <input name="videoTitle" type="text" class="form-control" id="videoTitle" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
      <label class="form-label" for="videoContent">Video Description</label>
      <textarea class="form-control" id="videoContent" cols="40" rows="5" aria-label="With textarea" name="videoContent"></textarea>
    </div>
    <div class="form-group">
      <label class="form-label" for="exampleInputEmail1">Delete a Post</label>
      <input class="form-control" type="text" name="deletePost" value="" placeholder="type the post title" id=exampleInputEmail1>
    </div>
    <button type="submit" class="btn btn-primary form-button">Submit</button>
  </form>
</div>
