<%- include("partials/header"); %>

<!-- title section -->

<section id="title" class="plant-image">
  <div class="heading">
    <h1 class="brand-text">A Mind Unravelled</h1>
    <h2>a safe space to have conversations about mental health.</h2>
  </div>

</section>

<%- include("partials/footer"); %>
