<%- include("partials/header"); -%>

<!-- title section -->

<section id="title" class="plant-image">
  <div class="heading">
    <h1 class="brand-text">A Mind Unravelled</h1>
    <h2>a <span class="ashley">safe space</span> to have conversations about mental health.</h2>
  </div>

</section>
