<%- include("partials/header"); %>

<h1>Video Content</h1>

  <% videoPosts.forEach(function(videoPost) { %>

<div class="video-container">
  <div class="video">
    <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="<%= videoPost.videoEmbed %>" allowfullscreen></iframe>
    </div>
  </div>
  <div class="video">
    <h1> <%= videoPost.videoTitle %> </h1>
    <p>
      <%= videoPost.videoBody %>
    </p>
  </div>
</div>



<%  }); %>
