* {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

.brand-text {
  font-family: "Almonds";
}

.container-fluid {
  padding: 3% 6%;
}

.container {
  padding: 3% 6%;
}

.card {
  width: 90%;
}

/* nav-bar styling */

#nav-bar {
  grid-area: nav-bar;
  opacity: 0.95;
  background-color: white;
}
.icons {
  width: 35px;
  padding: 0 10px 0 5px;
}

.anchor {
  display: block;
  position: relative;
  top: -56px;
}
/* title styling */

.heading {
  padding: 15rem 0 16rem;
}

h1.brand-text {
  font-size: 7rem;
  font-weight: bold;

  color: #fff;
}

#title h2 {
  padding-top: 10px;
  font-size: 1.5rem;
  font-weight: lighter;

  color: #fff;
}

.plant-image {
  background-image: url(../images/darkleaves.jpg);
  background-size: cover;
}

#footer .icon-text {
  color: black;
}

.video-container {
  display: flex;
  padding: 20px;
}

.video {
  flex: 1;
  padding: 2rem;
}

.video-text p {
  text-align: center;
}

.video-title {
  font-family: "Almonds";
  font-size: 4rem;
}

.videosBox {
  display: flex;
}

.videosContainer {
  flex: 1;
  padding: 0 20px 0 20px;
}

.featuredVideosContainer {
  flex: 1;
  padding: 0 20px 0 20px;
}

.blogBox {
  display: flex;
  padding-top: 60px;
}

.blogsContainer {
  flex: 1;
  padding: 0 20px 0 20px;
}

.featuredBlogsContainer {
  flex: 1;
  padding: 0 20px 0 20px;
}

.form-button {
  margin-bottom: 20px;
}

.blog-image {
  width: 400px;
  height: 400px;
  overflow: hidden;
}

mark {
  background-color: black;
  color: #fff;
}

.header {
  padding: 2rem;
}
